{% extends "parent.html" %}

{% block content %}

<form action="/calculator" method="post">
    <label for="selected_option">Wybierz walutę którą chcesz zakupić:</label>
    <select name="selected_option" id="selected_option">
        {% for option in options %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="multiplier">Ilość do zakupienia:</label>
    <input type="number" id="multiplier" name="multiplier" step="1">

    <button type="submit">Calculate</button>
</form>

{% if result != None %}
<h2>{{ result }}</h2>
{% endif %}

{% endblock %}
